<h1>アカウント設定</h1>
<h3>アカウント</h3>
  <table>
    <tr>
      <th>メールアドレス</th>
      <th>パスワード</th>
    </tr>

    <tr>
      <td><%= current_user.email %></td>
      <td>＊＊＊＊＊＊＊</td>
    </tr>
  </table>

  <div>
    <%= link_to "編集", "/users/edit" %>
  </div>

  <div>
    <%= link_to "アカウント", "/users/acount" %>
    <%= link_to "プロフィール", "/users/profile" %>
  </div>
